* {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    overflow:scroll;
    background-color:bisque;
    background-image: url('../../images/BG.webp');
    background-size:cover;
}


body::-webkit-scrollbar {
  display: none;
}


.side-nav {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    background-color:rgb(52, 124, 192);
    border-radius:10px;
    width: 5vw;
    height:70vh;
    margin-top:20px;
    overflow:hidden;
    position:fixed;
    transition:0.3s;
}

.side-nav:hover {
    width:18vw;
}

body::-webkit-scrollbar {
  display: none;
}

.nav-ments {
    font-size: 1.8em;
    margin:0.3vw 0;
    padding:5px 0px;
    align-self:flex-start;
    width:100%;
    color:white;
    /* text-shadow: 10px 10px 10px black; */
    white-space: nowrap;
    padding:5px 20px;;
}

.nav-ments span {
    margin-right: 3vw;
}


.nav-ments:hover {
    background-color:rgba(0, 0, 0, 0.452);
}



.nav-ments:nth-child(4) {
    background-color:rgba(0, 0, 0, 0.582);
}

.container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:85vw;
    margin-left:15vw;
    height:auto;
    padding-top:2vw;
}

.container-title {
    color:white;
    border-radius:12px;
    background-color: rgba(131, 86, 3, 0.568);
    padding:0px 10vw;
}

.projects-head {
    width:60vw;
    margin: 5vw 0px;
}


.sidequests {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top:1vw;
    border:10px solid rgb(44, 35, 35);
    height:80vh;
    width:60vw;
    border-style: dashed;
    border-radius:10px;
    overflow:auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidequests::-webkit-scrollbar {
    display:none;
}

.all-quests > * {
    width:20vw;
    border:10px solid rgb(131, 120, 126);
    margin:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    letter-spacing:1px;
    background-color:brown;
}

.all-quests > * > * {
        margin:1vw 0;
}

.all-quests * img {
    border-radius:10px;
    border:2px solid red;
}
