body {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    background-color:rgb(235, 200, 154);
    font-family: Poppins, sans-serif;
    color: rgb(71, 52, 38);
}

* {
    margin: 0;
    padding: 0;
}

div.nav {
    display:flex;
    justify-content:space-around;
    width:60vw;
    margin-bottom:20px;
}

.nav-anchor{
    color:brown;
    display:flex;
    align-items:center;
    text-decoration:none;
}

h1 {
    width:40vw;
}